*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
:root{
    --cor0:#FFFFFF;
    --cor1:#DEEFE7;
    --cor2:#002333;
    --cor3:#159A9C;
    --cor4:#B4BEC9;
}

header{
    margin: 30px;
}



header , a {
    text-decoration: none;
    text-align: center;
    color: black;
} 
 
.logo a {
     font-size: 70px;
     color: black; 
     font-weight: 900;
     padding: 5px;
     text-shadow: 2px 3px rgba(0, 0, 0, 0.151) ;
}
 
.logo, a:hover{
    color: var(--cor2) ;
}

.menu{
    text-align: center;
}

.menu a {
    text-align: center;
     font-size: 30px;
     padding: 5px;
     text-shadow: 2px 3px rgba(0, 0, 0, 0.050);
     
}

.active{
    padding: 5px;
    background-color: var(--cor4);
    border-radius: 5px;

}

.container{
    height: 600px;
    width: 100%;
    background-image: url(../imagens/controle.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 7px 0  rgba(0, 0, 0, 0.384);
}

.text{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
    color: white;
    font-size: 40px;
}

.destaques {
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.050) ;
}

.container2{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container2 img{
    width: 300px;
    height: 185px;
}

.card{
    text-align: center;
    width: 400px;
    height: 285px;
    background-color: var(--cor4);
    border-radius: 3%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.384);
    position: relative;

}

.card h2{
    margin: 20px 0px 10px 0px;
}

.card:hover {
    top:-10px; box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.384)
    
}

.rodape{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-medias{
    text-align: center;
    font-size: 20px;
}

.icons a{
    color: white;
}

.fa-instagram:hover, .fa-facebook:hover {
    color:var(--cor4);
}



/* Página Games */

.acao{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 30px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.050) ;
}

.section1{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 6px 7px 0  rgba(0, 0, 0, 0.384);
    position: relative;
    
}

.section1 img{
    width: 300px;
    height: 185px;
    
}

.cards1{
    background-color: var(--cor4);
    text-align: center;
    padding: 30px 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.384);
    position: relative;
}

.cards1 h2{
    margin: 5px;
}

.cards1 img{
    margin: 5px;
}
.cards1:hover {
    top:-10px; box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.384)
    
}
.aventura{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 30px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.050) ;
}

.section2{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 6px 7px 0  rgba(0, 0, 0, 0.384);
    position: relative;
    
}

.section2 img{
    width: 300px;
    height: 185px;
}


/* Console */

.consoles-txt{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 30px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.050) ;

}

.container-c{
    height: 647px;
    width: 100%;
    background-color: var(--cor4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
}

.xbox{
    text-align: center;
    width: 700px;
    height: 500px;
    background-color: black;
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.384);
    color: white;
    position: relative;
}

.xbox h2 {
    margin: 15px;
}

.xbox p {
    margin: 0 15px 15px 15px;
}

.xbox img{
    margin: 0 15px 15px 15px;
}

.xbox:hover {
    top:-10px; box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.384)
    
}

.ps5{
    text-align: center;
    width: 700px;
    height: 500px;
    background-color: var(--cor0);
    border-radius: 5px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.384);
    position: relative;
}

.ps5 h2 {
    margin: 15px;
}

.ps5 p {
    margin: 0 15px 15px 15px;
}

.ps5 img{
    margin: 0 15px 15px 15px;
}

.ps5:hover {
    top:-10px; box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.384)
    
}


/* Fale Conosco */


.fale-conosco{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 30px;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.050) ;
}

.container-f{
    background-color: var(--cor4);
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contato{
    margin-left: 50px;
}

.lblnome{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    box-shadow: -3px 3px 5px  rgba(0, 0, 0, 0.219);

}

.lblcel{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    box-shadow: -3px 3px 5px  rgba(0, 0, 0, 0.219);
}

.lblemail{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    box-shadow: -3px 3px 5px  rgba(0, 0, 0, 0.219);
}

.textoassunto{
    padding: 5px;
    border-radius: 5px;
    box-shadow: -3px 3px 5px  rgba(0, 0, 0, 0.219);

}

.botao{
    height: 30px;
    width: 20%;
    border-radius: 5px;
    box-shadow: -3px 3px 5px  rgba(0, 0, 0, 0.219);
}